---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: upgradeconfigs.managedupgrade.appuio.io
spec:
  group: managedupgrade.appuio.io
  names:
    kind: UpgradeConfig
    listKind: UpgradeConfigList
    plural: upgradeconfigs
    singular: upgradeconfig
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: UpgradeConfig is the Schema for the upgradeconfigs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: UpgradeConfigSpec defines the desired state of UpgradeConfig
            properties:
              jobTemplate:
                description: JobTemplate defines the template for the upgrade job
                properties:
                  metadata:
                    description: Standard object's metadata of the jobs created from
                      this template.
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        type: object
                      finalizers:
                        items:
                          type: string
                        type: array
                      labels:
                        additionalProperties:
                          type: string
                        type: object
                      name:
                        type: string
                      namespace:
                        type: string
                    type: object
                  spec:
                    description: Specification of the desired behavior of the job.
                    properties:
                      config:
                        description: UpgradeJobConfig defines the configuration for
                          the upgrade job
                        properties:
                          machineConfigPools:
                            description: MachineConfigPools defines the machine config
                              pool specific configuration for the upgrade job
                            items:
                              description: UpgradeJobMachineConfigPoolSpec allows
                                configuring the upgrade of a machine config pool
                              properties:
                                delayUpgrade:
                                  description: DelayUpgrade defines whether to delay
                                    the upgrade of the machine config pool
                                  properties:
                                    delayMax:
                                      description: |-
                                        DelayMax defines the maximum delay after which the upgrade of the machine config pool should start.
                                        Relative to the `.spec.startBefore` timestamp of the upgrade job.
                                        If the upgrade of the machine config pool can't be started before this time, it is considered failed.
                                      type: string
                                    delayMin:
                                      description: |-
                                        DelayMin defines the delay after which the upgrade of the machine config pool should start.
                                        Relative to the `.spec.startAfter` timestamp of the upgrade job.
                                      type: string
                                  type: object
                                matchLabels:
                                  description: |-
                                    MatchLabels defines the labels to match the machine config pool.
                                    If empty, all machine config pools are matched.
                                    If nil, no machine config pools are matched.
                                  properties:
                                    matchExpressions:
                                      description: matchExpressions is a list of label
                                        selector requirements. The requirements are
                                        ANDed.
                                      items:
                                        description: |-
                                          A label selector requirement is a selector that contains values, a key, and an operator that
                                          relates the key and values.
                                        properties:
                                          key:
                                            description: key is the label key that
                                              the selector applies to.
                                            type: string
                                          operator:
                                            description: |-
                                              operator represents a key's relationship to a set of values.
                                              Valid operators are In, NotIn, Exists and DoesNotExist.
                                            type: string
                                          values:
                                            description: |-
                                              values is an array of string values. If the operator is In or NotIn,
                                              the values array must be non-empty. If the operator is Exists or DoesNotExist,
                                              the values array must be empty. This array is replaced during a strategic
                                              merge patch.
                                            items:
                                              type: string
                                            type: array
                                            x-kubernetes-list-type: atomic
                                        required:
                                        - key
                                        - operator
                                        type: object
                                      type: array
                                      x-kubernetes-list-type: atomic
                                    matchLabels:
                                      additionalProperties:
                                        type: string
                                      description: |-
                                        matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                                        map is equivalent to an element of matchExpressions, whose key field is "key", the
                                        operator is "In", and the values array contains only "value". The requirements are ANDed.
                                      type: object
                                  type: object
                                  x-kubernetes-map-type: atomic
                              type: object
                            type: array
                          postUpgradeHealthChecks:
                            description: PostUpgradeHealthChecks defines the health
                              checks to be performed after the upgrade
                            properties:
                              skipDegradedOperatorsCheck:
                                description: SkipDegradedOperatorsCheck defines whether
                                  to check the ClusterVersion object for degraded
                                  operators when performing the health check
                                type: boolean
                              timeout:
                                default: 1h
                                description: Timeout defines the timeout after which
                                  the health check is considered failed
                                format: duration
                                type: string
                            required:
                            - timeout
                            type: object
                          preUpgradeHealthChecks:
                            description: PreUpgradeHealthChecks defines the health
                              checks to be performed before the upgrade
                            properties:
                              skipDegradedOperatorsCheck:
                                description: SkipDegradedOperatorsCheck defines whether
                                  to check the ClusterVersion object for degraded
                                  operators when performing the health check
                                type: boolean
                              timeout:
                                default: 1h
                                description: Timeout defines the timeout after which
                                  the health check is considered failed
                                format: duration
                                type: string
                            required:
                            - timeout
                            type: object
                          upgradeTimeout:
                            default: 12h
                            description: |-
                              UpgradeTimeout defines the timeout after which the upgrade is considered failed.
                              Relative to the `.spec.startAfter` timestamp of the upgrade job.
                            format: duration
                            type: string
                        required:
                        - postUpgradeHealthChecks
                        - preUpgradeHealthChecks
                        - upgradeTimeout
                        type: object
                    required:
                    - config
                    type: object
                required:
                - spec
                type: object
              maxSchedulingDelay:
                default: 1h
                description: |-
                  MaxSchedulingDelay defines the maximum time after which the upgrade job should be scheduled.
                  If the upgrade job is not scheduled before this time, it will not be scheduled.
                format: duration
                type: string
              maxUpgradeStartDelay:
                default: 1h
                description: |-
                  MaxUpgradeStartDelay defines the maximum time after which the upgrade job should be started.
                  If the upgrade job is not started before this time, it is considered failed.
                format: duration
                type: string
              pinVersionWindow:
                description: |-
                  PinVersionWindow defines the time window before the maintenance window in which the upgrade version is pinned.
                  `UpgradeJobs` are created at `schedule - pinVersionWindow`.
                type: string
              schedule:
                description: Schedule defines the schedule for the upgrade
                properties:
                  cron:
                    description: Cron defines the cron schedule for the upgrade as
                      per https://pkg.go.dev/github.com/robfig/cron/v3#hdr-CRON_Expression_Format
                    type: string
                  isoWeek:
                    description: |-
                      IsoWeek defines the week of the year according to ISO 8601 week number to schedule the upgrade.
                      Currently supported values are `@odd` and `@even`.
                    pattern: ^(@odd|@even|\d{1,2})$
                    type: string
                  location:
                    default: Local
                    description: Location defines the location to use for the cron
                      schedule. Defaults to the local time zone.
                    type: string
                  suspend:
                    description: Suspend defines whether the upgrade should be suspended.
                      Defaults to false.
                    type: boolean
                required:
                - cron
                - location
                type: object
              successfulJobsHistoryLimit:
                description: |-
                  SuccessfulJobsHistoryLimit is the number of successful jobs to keep.
                  A value smaller or equal to zero indicates no limit.
                  It is not possible to remove the most recent job.
                  Defaults to 4 if not set.
                type: integer
            required:
            - jobTemplate
            - maxSchedulingDelay
            - maxUpgradeStartDelay
            - schedule
            type: object
          status:
            description: UpgradeConfigStatus defines the observed state of UpgradeConfig
            properties:
              lastScheduledUpgrade:
                description: |-
                  LastScheduledUpgrade is the time at which the cluster version was last checked for updates.
                  Matches the startAfter time of the upgrade job that was created, or would have been created if an update was available.
                  Also is increased when a job would have been created, but was not created due to the config being suspended.
                format: date-time
                type: string
              nextPossibleSchedules:
                description: NextPossibleSchedules is a list of the next possible
                  schedules for an upgrade.
                items:
                  description: NextPossibleSchedule defines the next possible schedule
                    for an upgrade
                  properties:
                    time:
                      description: Time is the time of the next possible schedule
                      format: date-time
                      type: string
                  required:
                  - time
                  type: object
                type: array
            required:
            - nextPossibleSchedules
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
